### DJANGO API ###
SECRET_KEY=django-insecure-hn=p3ziye-_*po_xqbz9ubb5!)o3(0n+@%a85!zdhvhwoh333//d%dz(0x
DEBUG=True
DB_HOST=localhost

### POSTGRES ###
POSTGRES_DB=test_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
